@import '_reset.scss'
@import '_variables.sass'

/* ------------- Global css ------------- */
body
    max-width: 576px
    min-height: 100vh
    font-family:'Arial', sans-serif

%row
    display: flex
    flex-direction: row

%width-80
    width: 80%
    margin: auto

%weight-bold
    font-weight: bold

%button
    background-color: $orange_clair
    color: $orange
    border: none
    font-size: 1.5rem
    border-radius: 2rem
    @extend %width-80
    padding: 1rem    
    position: fixed
    margin-left: 10%


/* ------------- Header ------------- */
header
    @extend %width-80
    margin-top: 2rem
    
    article
        width: 60%

        p
            color: #999999
            font-size: 17px
        
        h1
            font-size: 34px
            @extend %weight-bold



/* ------------- Home ------------- */
.home
    article
        padding: 0 10%
        margin: 2rem 0
        @extend %row
        justify-content: space-between
    
        button
            color: #999999
            background-color: #fff
            border: none
            font-size: 1.3rem   
            padding: .5rem 1.5rem
            cursor: pointer
        button.click
            color: $noir
            background-color: #E9E9E9
            border-radius: .5rem
            

/* ------------- Employe ------------- */
.employe
    ul
        height: 60vh
        overflow: auto

        li
            @extend %width-80
            border: 1px solid #B8B8B8
            border-radius: .5rem 
            margin-bottom: 2rem
            @extend %row
            align-items: center
            justify-content: space-between
            padding: .5rem 1rem

            div
                @extend %row
                align-items: center

                p
                    padding-left: 2rem
                    font-size: 1.5rem
                    @extend %weight-bold

            input[type="checkbox"]
                width: 20px
                height:  20px
                cursor: pointer

            input[type="checkbox"]:checked 
                background-color: $orange
                border-color: $orange

    button[type="submit"]
        @extend %button


/* ------------- Service ------------- */
.service
    h2
        color: $orange
        font-size: 24px
        text-align: center
        margin-bottom: 1.5rem
    
    ul
        height: 40vh
        overflow: auto
        li
            @extend %width-80
            @extend %row
            align-items: center
            justify-content: space-between
            padding-bottom: 1rem
            border-bottom: 1px solid #D9D9D9
            margin-bottom: 1.5rem

            p
                font-size: 20px
                @extend %weight-bold

            p.poste
                color: $gris_ecriture
                background-color: $gris_back
                font-size: 15px
                padding: .5rem 1rem
                border-radius: 2rem

    div
        width: 100%
        height: max-content

        p
            color: $orange
            text-align: center
            font-size: 24px
            @extend %width-80
            margin-bottom: 1rem
        
        button.dark
            padding: 1.5rem 2rem
            width: 30%
            margin: auto
            @extend %row
            justify-content: space-between
            margin-bottom: 2rem
            border: none
            border-radius: 3rem
            background-color: $orange_clair

            .icon
                font-size: 40px

        button.dark + p
            color: $noir
            margin-bottom: 2rem


        button[type="submit"]
            @extend %button
            position: inherit
